@import url('https://fonts.googleapis.com/css?family=Athiti');
html {
    background-image:url(ML.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height:100%;
    overflow: hidden;
}
body {
    background:transparent;
   font-family: 'Athiti', sans-serif;
    letter-spacing: 0.01em;
    font-size: 24px;
    color: #fff;
    margin: 0;
    height: 100%;
    overflow: auto;
}
img{
	max-height:300px;
}
.formku{
	
	display:inline-block;
	border:3px solid black;
	text-align:right;
	padding:0px 40px 20px 40px;
	background-color:rgba(0,0,0,0.8);
}
.wrapper{
	
	text-align:center;
	
	margin-top:10%;
}
.wrapper2{
	text-align:right;
	display:inline-block;
	border:3px solid white;
}
input[type=submit]{
	
	background:#6f4e37;
	border:2px solid black;
	padding: 8px 19px 12px 19px;
	color:white;
	display:block;
	margin:0 auto;
	font-family: 'Athiti', sans-serif;
    letter-spacing: 0.01em;
    font-size: 16px;
	
}
input[type=submit]:hover{
	
	opacity:0.5;
}

input[type=text],input[type=number]{
	
	margin-left:20px;
	margin-top:13px;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 5px #000000;
	border-radius: 3px;
	padding:4px;
}